@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

/*---------- Customized parameters ----------*/
$theme-colors : (
    "primary": #FF9000
);
$body-bg: #F6F8F9;
$headings-margin-bottom: 0;

$border-width: 0.5px;
$border-color: #E5E5E5;
$font-family-base: Montserrat, Roboto, Arial, sans-serif;

/*---------- END Customized parameters ----------*/

@import "../bootstrap/scss/bootstrap";

/* ---------- Custom fonts init ---------- */
@font-face {
    font-family: 'EtelkaTextPro';
    src: local('EtelkaTextPro'),
        url('/fonts/EtelkaTextPro.ttf');
}

$font-family-heading: 'EtelkaTextPro';

/* ---------- END Custom fonts init ---------- */


/* ---------- Helpful functions and mixins ------------*/
@function encodecolor($string) {
   @if type-of($string) == 'color' {
        $hex: str-slice(ie-hex-str($string), 4);
        $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
   @return $string;
}

// Right pointing chevron
@mixin chevron-background($color){
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='18' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L9 9L0.999999 1' stroke='" + encodecolor($color) +"'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/* ---------- END Helpful functions and mixins ------------*/



///*---------- Small screen blocker ----------*/
// body{
//    min-width:1024px;
//    width: auto !important;  /* Firefox will set width as auto */
//    width:1024px;            /* As IE6 ignores !important it will set width as 1024px; */
// }
///*---------- END Small screen blocker ----------*/

// /* Fix h5 margin to ceneter with icons */
// h5 {
//     margin-bottom: 0 !important;
// }


/*---------- Custom checkbox -----------*/
input[type="checkbox"].list-checkbox{
  display:none;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    top: -0.125rem;
    margin-right: 0.5rem;
    display: inline-block;
    vertical-align: text-top;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    position:relative;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 5V19H5V5H19ZM19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3Z' fill='%23FF9000'/%3E%3C/svg%3E");
  }

  // Box hover
  // &:hover + label:before {
  //   background: lighten(theme-color(primary), 25%);
  // }

  // Box focus
  // &:focus + label:before {
  //   box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  // }

  // Box checked
  &:checked + label:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19 3H5C3.9 3 3 3.9 3 5V19C3 20.1 3.9 21 5 21H19C20.1 21 21 20.1 21 19V5C21 3.9 20.1 3 19 3ZM10 17L5 12.1923L6.4 10.8462L10 14.3077L17.6 7L19 8.34615L10 17Z' fill='%23FF9000'/%3E%3C/svg%3E");
  }

  // Disabled state label.
  // &:disabled + label {
  //   color: lighten($body-color, 25%);
  //   cursor: auto;
  // }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
  }
}
/*---------- END Custom checkbox -----------*/



/*---------- Timetable header ----------*/
$top-bar-height: 3rem;
.timetable-header {
    width: 100%;
    height: $top-bar-height;
    background-color: theme-color(primary);
    h4 {
        line-height: inherit;
    }
}

.timetable-view-week {
    margin-left: 1rem;
    padding-top: 0.5rem;
    font-family: $font-family-heading;
    color: $white;
}

.timetable-mainmenu {
    color: $white;
    font-family: $font-family-base;
    margin-right: 1.5rem;
    a {
        height: $top-bar-height;
        padding: 0.75rem;
        margin-right: .5rem;
    }
    .selected {
        background-color: rgba($black, 0.25);
    }
}

.logo-top-bar {
    width: $top-bar-height;
    height: $top-bar-height;
    background-color: rgba($white, 0.25);
    img {
        margin: 0.5rem 0.5rem;
    }
}

.search-btn {
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4002 17.6005C14.3766 17.6005 17.6002 14.3769 17.6002 10.4003C17.6002 6.42381 14.3766 3.2002 10.4002 3.2002C6.42374 3.2002 3.2002 6.42381 3.2002 10.4003C3.2002 14.3769 6.42374 17.6005 10.4002 17.6005Z' stroke='white' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M20.8002 20.8008L15.5498 15.5503' stroke='white' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    margin-top: 0.75rem;
    margin-right: 1rem;
    color: $white;
}

.profile-small{
    padding-top: 0.5rem;
    margin-right: 3rem;
    img {
         border-radius: 1rem;
         border-style: solid;
         border-color: $white;
         border-width: 2px;
    }
}

.week-switch {

    margin-left: 2rem;
    height: 2rem;
    min-width: 13rem;
    border: 1px solid $white;
    border-radius: 1rem;

    .chevron {
        background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.00049L6 6.00059L1 11.0007' stroke='white'/%3E%3C/svg%3E");
        margin: auto 0.5rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 7px;
        height: 12px;
        position: relative;
        transition: left 0.2s ease;
        left: 0rem;
    }

    label {
        text-align: center;
    }

    .week-btn {
        padding-right: 1rem;
        height: 2rem;
        display: flex;

        cursor: pointer;

        &:hover .chevron{
            left: 1rem;
        }
    }

    .prev-week-btn {
        transform: scaleX(-1);

    }

    font-family: $font-family-base;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2rem;

    color: $white;


}
/*---------- END Timetable header ----------*/



.content {
    width: 100%;
    height: 100%;
    //height: calc(100vh - #{$top-bar-height}); // change to flex column due to
                                                // wider browser support
}



/*---------- Timetabale filter sidebar ----------*/

$toggle-filters-bar-time: 0.35s;

.filter-sidebar {
    background-color: $white;
    height: 100%;
    flex: 0 0 25%;
    border-top: $border-width solid $border-color;
    border-right: $border-width solid $border-color;
    @media (min-width: 1200px){
        -webkit-box-flex: 0;
        -ms-flex: 0 1 331px;
        flex: 0 1 331px;
    }
    z-index:1000;
    transition: flex-basis $toggle-filters-bar-time ease, box-shadow $toggle-filters-bar-time ease;
    &.hidden {
        flex-basis: 3rem;
        overflow-x: hidden;
        box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    }
}


.toggle-filters-menu-btn {
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    transition: opacity $toggle-filters-bar-time ease;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16H23' stroke='%23FD8F01' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 11H23' stroke='%23FD8F01' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 21H23' stroke='%23FD8F01' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    left: -2.5rem;
    &.show {
        left: -1rem;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.5 15.0003C29.5 23.0243 23.0238 29.5006 15 29.5006C6.97615 29.5006 0.5 23.0243 0.5 15.0003C0.5 6.97626 6.97615 0.5 15 0.5C23.0238 0.5 29.5 6.97626 29.5 15.0003Z' fill='white' stroke='%23E5E5E5'/%3E%3Cpath d='M17 10L12 15L17 20' stroke='%23FF9000'/%3E%3C/svg%3E%0A");
    }
}



$filter-padding-x: 1.25rem;
$category-color: #16405A;

.filter-parameter {
    border-top: $border-width*2 solid $border-color;
    border-bottom: $border-width*2 solid $border-color;
    transition: opacity $toggle-filters-bar-time ease;
    display: none;
    &:first-of-type {
        border-top: none; // doesnt work when there is an element with same type
                          // as .filter-parameter element type in child
                          // of its parent
     }
}

.filter-header {
    padding: 1.25rem 0;
    color: theme-color(primary);
    font-family: $font-family-heading;
    border-bottom: $border-width solid $border-color;
    margin-bottom: 0.5rem;
    img {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 $filter-padding-x;
    }
}

// .filter-categories-list and .filter-category are customized version
// of bootstrap's .list-group and .list-group-item
.filter-categories-list {
    display: flex;
    flex-direction: column;

    padding-left: 0;
    margin-bottom: 0;
}

.filter-category {
    color: $category-color;

    position: relative;
    display: block;

    margin-bottom: .5rem;

    border-top: $border-width solid $border-color;
    border-bottom: $border-width solid $border-color;

    @include hover-focus {
        z-index: 1; // Place hover/active items above their siblings for proper border styling
        text-decoration: none;
    }

    // /* for future use */
    // &.disabled,
    // &:disabled {
    // color: $list-group-disabled-color;
    // background-color: $list-group-disabled-bg;
    // }
    // // Include both here for `<a>`s and `<button>`s
    // &.active {
    // z-index: 2; // Place active items above their siblings for proper border styling
    // color: $list-group-active-color;
    // background-color: $list-group-active-bg;
    // border-color: $list-group-active-border-color;
    // }
}

.category-header {
    cursor: pointer;
    user-select: none;
    padding: 1rem $filter-padding-x;

    .chevron {
        transition: transform 0.35s ease;
    }

    &.show .chevron {
        transform: rotate(90deg);
    }
}

.category-name{
    font-size: 18px;
    font-weight: 500;
}

.open-category-btn {
    margin: auto 0;
    flex-shrink: 0;

    .chevron {
        @include chevron-background(#8B9FAC);
        width: 1rem;
        height: 1rem;
        position: relative;
    }
}

.category-positions {
    margin: 0 $filter-padding-x;

    .collapse {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/*---------- END Timetabale filter sidebar ----------*/



/*---------- Timetable body ---------*/
$timetable-day-width: 23rem;
$timetable-day-width-current: 26.5rem;

.week-list-scroll {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    flex: 1 0 75%;
    display: flex;
}

.day-place {
    flex: 1 0 $timetable-day-width;
    border-left: $border-width solid $border-color;
    border-right: $border-width solid $border-color;
    margin-top: 0.5rem;
    padding: 0 1rem;
    &:first-of-type {
        border-left: none;
    }
    &:last-of-type {
        border-right: none;
    }
    &.current {
        flex-basis: $timetable-day-width-current;
        .day-card {
            padding: 1rem 1.25rem;
            border-radius: 6px;
            background: $white;
            box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
        }
        .weekday, .date {
            color: $black;
        }

        .today-label {
            display:block;
        }
    }
}

.day-header {
    line-height: 40px;
    margin-bottom: 1rem;
}

.day-card {
    width: 100%;


    .weekday {
        color: #8B9FAC;
        font-family: $font-family-heading;
        font-size: 24px;
        margin-right: 0.75rem;
    }

    .date {
        color: #8B9FAC;
        font-family: $font-family-base;
        font-size: 18px;
    }

    .today-label {
        color: theme-color(primary);
        font-family: $font-family-base;
        font-size: 18px;
        display: none;
    }
}

$old-event-color: theme-color(primary);
$current-event-color: #34BDB7;
$upcoming-event-color: #FFC300;
$event-header-font-size-primary: 14px;
$event-header-font-size-secondary: 12px;
$event-icon-full-height: 2rem;

.timetable-event {
    font-family: $font-family-base;
    margin-bottom: 1rem;
    border: $border-width solid $border-color;
    border-radius: 2px;
    font-style: normal;
    line-height: normal;
    border-left: 2px solid $old-event-color;
    background-color: $white;
    &.upcoming {
        border-left-color: $upcoming-event-color;
    }
    &.current {
        border-left-color: $current-event-color;
    }
    &:last-of-type {
        margin-bottom: 0;
    }

    &:hover .event-info {
        flex-flow: column;
        .event-icon {
            margin-left: 0.5rem;
        }

        .event-icon + label {
            display: block;
        }
        height: $event-icon-full-height * 3;
    }
}

.event-online {
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    font-size: $event-header-font-size-secondary;
    text-align: right;
    padding-right: 1rem;
    margin-bottom: 0.25rem;

    color: $current-event-color;
    &::after {
        content: "";
        width: 4px;
        height: 4px;
        border: 2px solid $current-event-color;
        border-radius: 2px;
        display: inline-block;
        position: relative;
        bottom: 2px;
        left: 0.5rem;
    }
}

.event-header {
    padding: 0.75rem 1rem;
    line-height: 26px;
    border-bottom: $border-width solid $border-color;
    a:hover {
        color: $black;
        text-decoration: none;
    }
}

.event-start-time {
    font-weight: normal;
    font-size: $event-header-font-size-primary;

    color: $black;
}

.event-finish-time{
    font-weight: 300;
    font-size: $event-header-font-size-secondary;
    line-height: 4px;
    color: #808080;
}

.event-name {
    margin-left: 0.75rem;
    font-weight: 500;
    font-size: $event-header-font-size-primary;

    color: $black;
}

.event-icons-bar {
    padding: 0 0.5rem;
}

.event-info {
    height: $event-icon-full-height;
    overflow-y: hidden;
    transition: height 0.35s ease;
}

.event-icon {
    content: " ";
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    margin-left: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    flex-shrink: 0;

    &:first-of-type{
        margin-left: 0.5rem;
    }

    &.disabled {
        display: none;
    }
}

.info-position {
    display: flex;
    label {
        display: none;
        align-self: center;

        font-style: normal;
        font-weight: 300;
        font-size: $event-header-font-size-secondary;
        margin-bottom: 0;
        color: #8B9FAC;
    }
}

.disabled > .event-icon {
    display: none;
}

.icon-lecturer {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.73343 12.3115L7.12596 11.2001H7.98623H8.87423L8.26676 12.3115L8.9041 14.4001H14.4001C14.4001 10.6667 10.1334 11.7334 9.6001 10.1334V9.06672C9.8401 8.94779 10.5265 8.13072 10.5985 7.49232C10.7873 7.47792 11.0838 7.30459 11.1713 6.62032C11.2182 6.25285 11.0316 6.04645 10.9185 5.98139C10.9185 5.98139 11.2001 5.44645 11.2001 4.80059C11.2001 3.50565 10.6918 2.40059 9.6001 2.40059C9.6001 2.40059 9.2209 1.60059 8.0001 1.60059C5.7377 1.60059 4.8001 3.05179 4.8001 4.80059C4.8001 5.38939 5.0817 5.98139 5.0817 5.98139C4.96863 6.04645 4.78196 6.25339 4.8289 6.62032C4.91636 7.30459 5.2129 7.47792 5.4017 7.49232C5.4737 8.13072 6.1601 8.94779 6.4001 9.06672V10.1334C5.86676 11.7334 1.6001 10.6667 1.6001 14.4001H7.0961L7.73343 12.3115Z' fill='%23E5E5E5'/%3E%3Cpath d='M10.4002 11.2H9.06689V10.1333H9.54103C9.74369 10.1333 9.92929 10.2485 10.0189 10.4298L10.4002 11.2Z' fill='%23E5E5E5'/%3E%3Cpath d='M5.6001 11.2H6.93343V10.1333H6.4593C6.25663 10.1333 6.07103 10.2485 5.98143 10.4298L5.6001 11.2Z' fill='%23E5E5E5'/%3E%3C/svg%3E");
}

.icon-place {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00006 2.3999C5.6534 2.3999 3.7334 4.3199 3.7334 6.66657C3.7334 9.86657 7.46673 10.9332 7.46673 13.0666C7.46673 13.3866 7.68006 13.5999 8.00006 13.5999C8.32007 13.5999 8.5334 13.3866 8.5334 13.0666C8.5334 10.9332 12.2667 9.86657 12.2667 6.66657C12.2667 4.3199 10.3467 2.3999 8.00006 2.3999ZM8.00006 7.73324C7.4134 7.73324 6.9334 7.25324 6.9334 6.66657C6.9334 6.0799 7.4134 5.5999 8.00006 5.5999C8.58673 5.5999 9.06673 6.0799 9.06673 6.66657C9.06673 7.25324 8.58673 7.73324 8.00006 7.73324Z' fill='%23E5E5E5'/%3E%3C/svg%3E");
}

.icon-info {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.0001 1.6001C4.4657 1.6001 1.6001 4.4657 1.6001 8.0001C1.6001 11.5345 4.4657 14.4001 8.0001 14.4001C11.5345 14.4001 14.4001 11.5345 14.4001 8.0001C14.4001 4.4657 11.5345 1.6001 8.0001 1.6001ZM8.53343 11.2001H7.46676V7.46676H8.53343V11.2001ZM8.0001 6.13343C7.5585 6.13343 7.2001 5.77503 7.2001 5.33343C7.2001 4.89183 7.5585 4.53343 8.0001 4.53343C8.4417 4.53343 8.8001 4.89183 8.8001 5.33343C8.8001 5.77503 8.4417 6.13343 8.0001 6.13343Z' fill='%23E5E5E5'/%3E%3C/svg%3E");
}

.icon-paper {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2002 14.4001C10.8802 14.4001 10.6669 14.1868 10.6669 13.8668C10.6669 13.5468 10.8802 13.3334 11.2002 13.3334C12.1069 13.3334 12.8002 12.6401 12.8002 11.7334V2.66676H4.26686V11.7334C4.26686 12.0534 4.05353 12.2668 3.73353 12.2668C3.41353 12.2668 3.2002 12.0534 3.2002 11.7334V2.13343C3.2002 1.81343 3.41353 1.6001 3.73353 1.6001H13.3335C13.6535 1.6001 13.8669 1.81343 13.8669 2.13343V11.7334C13.8669 13.2268 12.6935 14.4001 11.2002 14.4001Z' fill='%238B9FAC'/%3E%3Cpath d='M11.2001 14.4H4.26676C2.77343 14.4 1.6001 13.2266 1.6001 11.7333C1.6001 11.4133 1.81343 11.2 2.13343 11.2H9.06676C9.38676 11.2 9.6001 11.4133 9.6001 11.7333C9.6001 12.64 10.2934 13.3333 11.2001 13.3333C11.5201 13.3333 11.7334 13.5466 11.7334 13.8666C11.7334 14.1866 11.5201 14.4 11.2001 14.4ZM2.77343 12.2666C2.98676 12.9066 3.57343 13.3333 4.26676 13.3333H9.06676C8.85343 13.0133 8.6401 12.64 8.58676 12.2666H2.77343Z' fill='%238B9FAC'/%3E%3Cpath d='M11.2 6.3999H8V7.46657H11.2V6.3999Z' fill='%238B9FAC'/%3E%3Cpath d='M6.93337 6.3999H5.8667V7.46657H6.93337V6.3999Z' fill='%238B9FAC'/%3E%3Cpath d='M11.2 8.53345H8V9.60011H11.2V8.53345Z' fill='%238B9FAC'/%3E%3Cpath d='M6.93337 8.53345H5.8667V9.60011H6.93337V8.53345Z' fill='%238B9FAC'/%3E%3Cpath d='M11.2 4.2666H8V5.33327H11.2V4.2666Z' fill='%238B9FAC'/%3E%3Cpath d='M6.93337 4.2666H5.8667V5.33327H6.93337V4.2666Z' fill='%238B9FAC'/%3E%3Cpath d='M9.06663 11.7334H2.1333C2.1333 12.9067 3.0933 13.8667 4.26663 13.8667H11.2C10.0266 13.8667 9.06663 12.9067 9.06663 11.7334Z' fill='%238B9FAC'/%3E%3C/svg%3E");
}

.icon-clip {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.30667 14.4001C6.18667 14.4001 5.17334 13.9734 4.37334 13.1201C2.77334 11.4668 2.77334 8.69343 4.37334 7.0401L8.64001 2.5601C9.22667 1.9201 10.0267 1.6001 10.8267 1.6001C11.6267 1.6001 12.4267 1.9201 12.96 2.5601C14.1333 3.78676 14.1333 5.81343 12.96 7.0401L9.06667 11.1468C8.69334 11.5201 8.21334 11.7334 7.68001 11.7334C7.14667 11.7334 6.66667 11.5201 6.29334 11.1468C5.54667 10.3468 5.54667 9.06676 6.29334 8.26676L9.44001 4.9601C9.65334 4.74676 9.97334 4.74676 10.1867 4.9601C10.4 5.17343 10.4 5.49343 10.1867 5.70676L7.04001 9.01343C6.66667 9.38676 6.66667 10.0268 7.04001 10.4001C7.20001 10.5601 7.41334 10.6668 7.68001 10.6668C7.89334 10.6668 8.16001 10.5601 8.32001 10.4001L12.2133 6.29343C13.0133 5.4401 13.0133 4.10676 12.2133 3.30676C11.4667 2.50676 10.1867 2.50676 9.44001 3.30676L5.17334 7.78676C3.94667 9.06676 3.94667 11.1468 5.17334 12.3734C5.76001 12.9601 6.50667 13.3334 7.30667 13.3334C8.10667 13.3334 8.85334 13.0134 9.44001 12.3734L12.4267 9.22676C12.64 9.01343 12.96 9.01343 13.1733 9.22676C13.3867 9.4401 13.3867 9.7601 13.1733 9.97343L10.1867 13.1201C9.44001 13.9734 8.42667 14.4001 7.30667 14.4001Z' fill='%238B9FAC'/%3E%3C/svg%3E");
}
/*---------- END Timetable body ---------*/
